@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: "微軟正黑體";
}

clearfix {
  clear: both;
}

body {
  display: inline-block;
  max-width: 960px;
  width: 100%;
  background-color: #FFBB66;
}

i {
  color: #444;
  width: 20px;
}

p, h2 {
  margin: 10px;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  width: 100vw;
  height: 50px;
  margin: 0;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  z-index: 10;
}

header .title {
  position: absolute;
  left: 0;
}

.addList {
  display: none;
  width: 100%;
  height: 350px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", sans-serif;
}

.addList p {
  font-family: "Roboto", sans-serif;
  margin: 0 0 2px 0;
  font-size: 24px;
  color: #444;
}

.addList input {
  border: 1px solid transparent;
  width: 100%;
  height: 40px;
  margin: 5px 0 15px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.addList .two {
  display: inline-block;
  width: calc((100% - 4px)/ 2);
}

.addList button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 8px)/2);
  height: 50px;
  margin: 0 2px;
  float: left;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #444;
  border: 0px;
  border-radius: 5px;
  background-color: #FFBB66;
}

.addList button:after {
  clear: both;
}

.addList .submit:hover {
  cursor: pointer;
  background-color: #84C1FF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.addList .cancel:hover {
  cursor: pointer;
  background-color: #FF7575;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.center {
  width: 650px;
  top: 50px;
  margin: 100px calc((100vw - 650px)/2);
}

.lists {
  display: block;
  position: relative;
  max-width: 960px;
  width: 100%;
  padding: 10px;
}

.colorblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25px;
  background-color: #FFFF33;
}

.colorblock p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 2px;
  width: 20px;
  height: 100%;
}

.colorblock p i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.colorblock p i:hover {
  cursor: pointer;
  color: #FF5511;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.list {
  position: relative;
  display: inline-block;
  min-width: 200px;
  width: 200px;
  height: 250px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #FFFFBB;
  font-family: "微軟正黑體";
}

.list p {
  height: 16px;
}

.list .samesize {
  height: 120px;
}
/*# sourceMappingURL=style.css.map */
